/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html * {
    font-family: helvetica, arial;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}

body > header {
    background-color: #000;
    border-radius: 0px 0px 8px 8px;
    height: 70px;
    color: #FFF;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 24px;
}

.flat-button {
    background-color: #5483A1;
    opacity: 0.8;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.flat-button:hover {
    opacity: 1;
    cursor: pointer;
}

.show-progress {
    height: 200px;
    width: 70%;
    margin: 40px auto;
    background-color: #FFF;
    padding-top: 20px;
    padding-left: 20px;
}

.show-progress header {
    color: #000;
    font-size: 18px;
    margin-bottom: 45px;
}

.show-progress p {
    color: #797979;
    margin-bottom: 45px;
}

.modal-content {
    height: 280px;
    width: 50%;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #EBEBEB;
}

.modal-content > header {
    height: 37px;
    background-color: #000;
    color: #FFF;
    border-radius: 8px;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 18px;
}

.modal-content > section {
    height: calc(100% - 78px);
    width: calc(100% - 40px);
    background-color: #FFF;
    margin: 20px auto;
    padding-top: 23px;
    border: 1px solid #000;
    border-radius: 8px;
}

.progress {
    width: calc(100% - 86px);
    margin: 0 auto;
}

.progress:after {
    content: "";
    display: table;
    clear: both;
}

.progress > span {
    width: 85px;
    font-weight: 600;
    font-size: 17px;
    margin-top: 20px;
    color: #797979;
}

.progress .target {
    height: 55px;
    width: 65px;
    background-color: #929292;
    color: #FFF;
    border: 1px solid #000;
    text-align: center;
    padding-top: 10px;
}

.progress .account-progress, .progress > span, .progress .target {
    float: left;
}

.account-progress {
    height: 17px;
    width: calc(100% - 195px);
    background-color: #F8F8F8;
    margin-top: 20px;
}

.account-progress .vanilla-progress-label {
    text-align: right;
    position: relative;
    top: 10px;
    right: -10px;
}

.account-progress .vanilla-progress, .account-progress {
    border-radius: 5px;
}


.account-progress .vanilla-progress {
    background-color: #64B15B;
}

.status {
    width: calc(100% - 86px);
    margin: 50px auto;
    text-align: center;
}

.status i {
    color: #5483A1;
}

.status span {
    color: #797979;
}
